<!DOCTYPE html>
<html>
  <head>
    <title>CleverNote - Create and organize your notes with notebooks and tags that you can access from anywhere</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render '/application/favicon' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
